html ::-moz-selection {
  background: #00d1b2;
  color: #fff;
}
html ::selection {
  background: #00d1b2;
  color: #fff;
}
@media screen and (min-width: 1090px) {
  .nav-bar-spacing {
    padding-top: 5.25rem !important;
  }
}

/*Common*/
.break {
  height: 15px;
  width: 100%;
}
.section-break {
  height: 50px;
  width: 100%;
}
.comma + .comma:before {
  content: ", ";
}
.game-icon {
  min-width: 140px; 
  max-width: 175px;
}

.item-shadow {
  transition: all 0.2s ease-in-out;
}
.item-shadow::after {
  /*box-shadow: 0 5px 15px rgba(0,0,0,0.3);*/
  transition: opacity 0.2s ease-in-out;
}
/* Translate the item */
.item-shadow:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translateY(0px);
}
/* Fade in the pseudo-element with the bigger shadow */
.item-shadow:hover::after {
  opacity: 1;
}

.hover-shadow-lift {
  transition: all 0.1s ease-in-out;
}
.hover-shadow-lift::after {
  transition: opacity 0.1s ease-in-out;
}
/* Translate the item */
.hover-shadow-lift:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}
/* Fade in the pseudo-element with the bigger shadow */
.hover-shadow-lift:hover::after {
  opacity: 1;
}

.hover-translate:hover {
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.hover-translate {
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.text-container {
  position: relative;
  color: white;
  overflow: hidden;
}
.text-container img {
  max-width: 100%;
  /* -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; */
  transition: all .5s cubic-bezier(0,0,0,1.15); 
}
.text-container:hover img {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
.icon-margin {
  margin: 7px 0 0 7px;
}
.icon svg {
  height: 1rem !important;
}
.centered-tags {
  margin-top: -1.05rem !important; 
  justify-content: center !important;
}
.underline-link {
  cursor: pointer;
  text-decoration: none !important;
}
.underline-link:hover {
  cursor: pointer;
  text-decoration: underline !important; 
}



/*Header*/
.nav-search {
  background-color: #f5f5f5; 
  box-shadow: none; 
  border-color: transparent;
}
.logo {
  color: #00d1b2;
  font-size: 30px;
  padding-top: 2px; /* for bulma 4.0*/
}
.disabled {
  cursor: default;
}
.hero-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-bg-login {
  background-image: url('/images/zelda.png');
  background-repeat: no-repeat;
  background-position: 65% 0%;
  background-attachment: fixed;
  background-size: contain;
}
.hero-bg-register {
  background-image: url('https://mythril.nyc3.cdn.digitaloceanspaces.com/general/login-register-link.png');
  background-repeat: no-repeat;
  background-position: 65% 0%; 
  background-attachment: fixed;
  background-size: contain;
  background-position-y: 2rem;
}
.hero-bg-games {
  background-image: url('https://mythril.nyc3.cdn.digitaloceanspaces.com/general/games.png');
  background-repeat: no-repeat;
  background-position: 40% 0%;
  background-attachment: fixed;
  background-size: 475px;
  background-position-y: 2rem;
}
.hero-bg-forums {
  background-image: url('https://mythril.nyc3.cdn.digitaloceanspaces.com/general/forums.png');
  background-repeat: no-repeat;
  background-position: 65% 0%;
  background-attachment: fixed;
  background-size: 430px;
  background-position-y: -5.9rem;
}
#animationTitle {
  animation-name: moveLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease;
}
#animationSub {
   animation-name: moveLeft;
   animation-duration: 1.2s;
   animation-timing-function: ease;
   animation-delay: 0.5s;
   animation-fill-mode: forwards;
   opacity: 0;
 }
#animationAdd {
  animation-name: moveRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#animationBG {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.imageFade {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes move {
  0% {background-position: 0px 0px, 0 0, 0 0}
  100% {background-position: -100px 0px, 0 0, 0 0}
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveRight {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*Reviews and Recomendations*/
.recomendation-col {
  width: 200px;
  margin-bottom: 35px;
}
.recomendation-image {
  position: absolute;
  margin-left: 45px;
  margin-top: 25px;
}
.image-behind img:hover {
  z-index: 10;
}

/*Game Page*/
.hero-game-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dotted-border {
  border-bottom: 1px dotted #efefef;
  text-decoration: none;
}
.heart {
  color: red;
}
.wishlist {
  color: blue;
}
.tab-container {
  box-shadow:inset 0px 0px 0px 1px #dbdbdb;
}
@media screen and (min-width: 1024px) {
  .cover-title {
    bottom: -7rem;
    padding-left: 265px;
  }
  .cover-nav {
    padding-left: 265px;
  }
  .cover-sidebar {
     position: relative;
     width: 239px;
     top: -170px;
   }
  .cover-content {
    margin-left: 265px;
    margin-top: -20px;
  }
}
#animationTitle {
  animation-name: moveLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
}
#animationSub {
   animation-name: moveLeft;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-delay: 0.5s;
   animation-fill-mode: forwards;
   opacity: 0;
 }
#animationAdd {
  animation-name: moveRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.icon-text {
  background: rgba(0,0,0,0.5);
  border-radius: 0px 5px 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  padding: 7px;
  bottom: 0px;
  position: absolute;
}

/*Games Page*/
.message-header a:link {
  text-decoration: none !important;
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 0.75rem;
  text-align: left;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.username-hover:hover .username-overlay{
  display: block;   
  opacity: 1;
}
.username-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(31,38,49,.8);
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  /* word-break: break-all; */
}
.username-text {
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-detail-header {
  background-color: #d7d7d7; 
  padding: 8px; 
  font-weight: 500; 
  overflow: hidden; 
  max-height: 40px;
}
.game-detail-header:hover {
  overflow-y: scroll; 
}
.game-detail-content {
  padding: 8px; 
  overflow: hidden; 
  max-height: 135px;
}
.game-detail-content:hover {
  overflow-y: scroll; 
}

/*Game Page Left Nav*/
.genre-link a:link, .genre-link a:visited, .genre-link a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.stat-count{
    width: 60px;
    cursor: default;
 }
.stat-label{
    width: 180px;
    cursor: default;
    opacity: 0.9;
}

.profile-icon {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: 0.2s;
}

.profile-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/*Vue Multiselect*/
.multiselect__option--highlight, .multiselect__option--highlight:after, .multiselect__tag, .multiselect__spinner:before {
  background-color: #00d1b2 !important; /* is-primary */
}
.multiselect__option--selected.multiselect__option--highlight, .multiselect__option--selected.multiselect__option--highlight:after{
  background:#ff6a6a !important; /* red */
  color:#fff !important;
}
.multiselect__select::before {
  border-style: none !important;
}
.multiselect--active {
  z-index: 29 !important;
}
input[type="range"].slider:not([orient="vertical"]).has-output + output, input[type="range"].slider:not([orient="vertical"]).has-output-tooltip + output {
  z-index: 25 !important;
}

/*Custom tooltip*/

.custom-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00d1b2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -190%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}
.custom-tooltip .custom-tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #00d1b2 transparent;
}
.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*****************************
 HOVER AND TRANSITION EFFECTS 
******************************/

  /*Effect: On hover change background color opacity and add border*/
  /*Used On: Messages & Notifications*/
  .border-hover {
    border: solid 1px #f5f5f5;
  }
  .border-hover:hover {
    background-color: rgba( 245, 245, 245,.4);
    border: solid 1px #e1e1e1;
  }

  .bounce-enter-active {
    animation: bounce-in .3s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .slide-down-enter-active {
    animation: slide-down 0.4s ease;
  }
  .slide-down-leave-active {
    animation: slide-down 0.4s ease reverse;
  }

  /*Effect: Slide Down*/
  /*Used On: Forums (create discussion) */
  .slide-down {
    animation: slide-down 0.4s ease;
  }
  
  @keyframes slide-down {
      0% {
          opacity: 0;
          transform: translateY(-20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  /*Effect: Slide Up*/
  /*Used On: Forums (create discussion) */
  .slide-up {
    animation: slide-up 0.4s ease;
  }
  
  @keyframes slide-up {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 .slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.custom-light-bg {
  background: rgba(245, 245, 245,1);
}
.custom-light-bg:hover {
  background: rgba(245, 245, 245,.3);
  box-shadow: 0 2px 3px rgba(48,48,48,.15), 0 0 0 1px rgba(48,48,48,.15);
  cursor: pointer;
}
.image-hover-scale img {
  transition: transform .2s;
  /* all .2s ease; */
}
.image-hover-scale:hover img {
  transform: scale(1.05);
  /* transform: scale(1.025); */
}