// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: hsl(171, 100%, 41%) !default;
$primary-invert: findColorInvert($primary);

$facebook: #3C5A99;
$facebook-invert: findColorInvert($facebook);
$reddit: #FF4500;
$reddit-invert: findColorInvert($reddit);
$whatsapp: #4AC959;
$whatsapp-invert: findColorInvert($whatsapp);
$twitter: #1DA1F2;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "facebook": ($facebook, $facebook-invert),
    "reddit": ($reddit, $reddit-invert),
    "whatsapp": ($whatsapp, $whatsapp-invert),
    "twitter": ($twitter, $twitter-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$title-weight: $weight-light !default;
$subtitle-weight: $weight-light !default;
$content-heading-weight: $weight-normal;

// $control-radius: 0px;

// 1. Import the initial variables
// @import "node_modules/bulma/sass/utilities/initial-variables";
// @import "node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update the blue shade, used for links
//$blue: #06bcef;
// Add pink and its invert
//$pink: #ff8080;
//$pink-invert: #fff;
// Update the sans-serif font family
//$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// $link: hsl(171, 100%, 41%) !default;
// $link-invert: findColorInvert(hsl(171, 100%, 41%)) !default;
// $link-focus-border: hsl(171, 100%, 41%) !default;

//Change weight to 300
// $title-weight: $weight-light !default;
// $subtitle-weight: $weight-light !default;
// $content-heading-weight: $weight-normal;
